@use '../mixins' as *;
.a_propos{
    padding: 5rem;
    article{
        @include flex(center,center,4rem);
        margin-bottom: 4rem;
        p{
            margin: 3rem 0;
        }
        .apr{
            img{
                order: 1;
            }
            div{
                order: 2;
            }
        }
        
    }
}