@use '../mixins' as *;
@use '../variables' as  *;
.contact{
    margin:3rem 0;
    form{
        h2{
            text-align: center;
            margin-bottom: 4rem;
        }
        div{
            @include flex(center,center,3rem);
            flex-direction: column;
            width: 100%;
            max-width: 600px;
            margin: auto;
            input,textarea,button{
                width: 100%;
                border: 2px solid red;
                border-radius: .5rem;
                background-color: transparent;
                color: white;
                padding: .5rem;
            }
            textarea{
                resize: vertical;
                width: 100%;
            }
            button{
                position: relative;
                width: 20%;
                align-self: flex-end;
                cursor: pointer;
                span{
                    position: relative;
                    z-index: 1;
                }
                &::before{
                    content: "";
                    width: 0%;
                    height: 100%;
                    position: absolute;
                    top: 0;
                    left: 0;
                    background-color: red;
                    z-index: 0;
                    transition: width .25s ease;
                }
                &:hover::before{
                    width: 100%;
                }
            }
        }
    }
}
.coord{
    margin: 3rem 0;
    @include flex(center,center,0);
    svg{
        width: 100px;
        height: 100px;
    }
    p{
        color: black;
        padding-top: 1rem;
    }
    div{
        width: 100%;
        max-width: 300px;
        padding: 2rem;
        margin: 0 3rem;
        background-color: $color;
        border-radius: .5rem;
    }
    .phone,.itin,.mail{
        @include flex(center,center,0);
        flex-direction: column;
    }
    a{
        text-decoration: none;
        color: white;
        background-color: $bcg-color;
        border: 2px solid red;
        border-radius: 5rem;
        margin: 2rem 0;
        padding: 0.5rem 1.5rem;
        transition: transform .25s ease, color .25s ease;
        &:hover{
            transform: scale(1.2);
            color: red;
        }
    }
}