.pizTitle{
    position: relative;
    img{
        width: 100%;
        background-size: cover;
        background-attachment: fixed;
        object-fit: contain;
    }
    div{
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 21;
    }
}