$colortitle:#F0D6AA;
.pizTitle{
    position: relative;
    img{
        width: 100%;
        background-size: cover;
        background-attachment: fixed;
        object-fit: contain;
        opacity: 50%;
    }
    div{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -80%);
        z-index: 21;
        h1{
            font-size: 5rem;
            color: $colortitle;
        }
    }
}