@use 'using' as *;
.menu{
    h2{
        text-align: center;
    }
    div{
        width: 100%;
        max-width: 550px;
        margin: auto;
    }
}

.listpizza{
   @include flex(start,start,2rem);
   flex-direction: column;
   h2{
    align-self: center;
    color: red;
   }
   .pizzaitem{
        @include flex(space-evenly,start,2rem);
        flex-wrap: wrap;
        margin: 0 2rem;
        article{
            @include flex(start,start,2rem);
            flex-direction: column;
        }
        h3{
            font-family: $ffTitle;
            font-size: 2rem;
        }
        details{
            align-self: flex-start;
            cursor: pointer;
            summary{
                font-size: 2rem;
            }
            ul{
                display: block;
                li{
                    padding: .5rem;
                }
            }
        }
   }
    img{
        width: 100px;
        margin: auto;
    }

    
}