@use 'using' as *;
.menu{
    h2{
        text-align: center;
    }
    div{
        width: 100%;
        max-width: 550px;
        margin: auto;
    }
}

.listpizza{
   @include flex(start,start,2rem);
   flex-direction: column;
   h2{
    align-self: center;
    color: red;
   }
   .pizzaitem{
        @include flex(start,start,4rem);
        flex-wrap: wrap;
        margin: 0 auto;
        article{
            @include flex(start,start,2rem);
            flex-direction: column;

        }
        details{
            align-self: flex-start;
            cursor: pointer;
            ul{
                display: block;
            }
        }
   }
    img{
        width: 100px;
        margin: auto;
    }

    
}