@use 'using' as *;
.menu{
    h2{
        text-align: center;
    }
    div{
        width: 100%;
        max-width: 550px;
        margin: auto;
    }
}

.listpizza{
    @include flex(start,center,2rem);
    img{
        width: 100px;
    }
    article{
        @include flex(start,center,2rem);
        flex-direction: column;
    }
}