@use 'variables' as *;
@use 'mixins' as *;
nav{
    z-index: 22;
    background-color: $bcg-color;
    position: fixed;
    width: 100%;
    
    ul{
        //display: none;
        @include flex(space-around,center,2rem);
        li{
            list-style: none;
            a{
                text-decoration: none;
                color: white;
                position: relative;
                font-size: clamp(1.5rem,3vw,2rem);
                img{
                    width: 100%;
                    max-width: 15rem;
                }
                &:not(.except)::before {
                    content: '';
                    position: absolute;
                    bottom: -4px;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: white;
                    transform: scaleX(0); 
                    transition: transform .25s linear;
                }
                &:not(.except):hover::before{
                    content: '';
                    position: absolute;
                    bottom: -4px;
                    left: 0;
                    width: 100%;
                    height: 2px;
                    background-color: white;
                    transform: scaleX(1); 
                }
            }
        }
    }
    .ulModif{
        @extend ul;
        background-color: black;
        height: 100vh;
        flex-direction: column;
        li{
            a{
                font-size: clamp(2rem,3vw,3rem);
            }
        }
    }
}
.burger{
    display: none;
    text-align: right;
    svg{
        cursor: pointer;
        path{
            stroke: red;
        }
    }
}