@use 'variables' as *;
@use 'mixins' as *;
@use 'nav';
@use 'sections/index' as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
body{
    font-family: $fftext;
    font-size: 2rem;
    color: white;
    background-color: $bcg-color;
}