@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Inknut+Antiqua:wght@300;400;500;600;700;800;900&family=Itim&display=swap");
nav {
  z-index: 22;
  background-color: #131417;
  position: fixed;
  width: 100%;
}
nav ul, nav .ulModif {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 2rem;
}
nav ul li, nav .ulModif li {
  list-style: none;
}
nav ul li a, nav .ulModif li a {
  text-decoration: none;
  color: white;
  position: relative;
  font-size: clamp(1.5rem, 3vw, 2rem);
}
nav ul li a img, nav .ulModif li a img {
  width: 100%;
  max-width: 15rem;
}
nav ul li a:not(.except)::before, nav .ulModif li a:not(.except)::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.25s linear;
}
nav ul li a:not(.except):hover::before, nav .ulModif li a:not(.except):hover::before {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(1);
}
nav .ulModif {
  background-color: black;
  height: 100vh;
  flex-direction: column;
}

.burger {
  display: none;
  text-align: right;
}
.burger svg {
  cursor: pointer;
}
.burger svg path {
  stroke: red;
}

.pizTitle {
  position: relative;
}
.pizTitle img {
  position: relative;
  width: 100%;
  background-size: cover;
  background-attachment: fixed;
  object-fit: contain;
  opacity: 50%;
}
.pizTitle div {
  position: absolute;
  left: 50%;
  top: 40%;
  transform: translate(-50%, -50%);
  width: 50%;
  text-align: center;
  z-index: 21;
}
.pizTitle div h1 {
  font-size: clamp(3rem, 4vw, 10rem);
  color: #F0D6AA;
  animation: zoomIn 2s ease-out forwards;
  transition: transform 0.25s ease, opacity 0.25s ease;
}
.pizTitle div h3 {
  font-size: clamp(2rem, 2vw, 3rem);
  animation: zoomIn 2.5s ease-out forwards;
  transition: transform 0.25s ease, opacity 0.25s ease;
}
@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
@keyframes zoomOutUp {
  0% {
    opacity: 1;
    transform: scale(1); /* Taille normale au début */
  }
  40% {
    opacity: 1;
    transform: scale(0.6) translateY(-20px); /* Zoom léger + déplacement vers le haut */
  }
  100% {
    opacity: 0;
    transform: scale(0.4) translateY(-400px); /* Réduction + déplacement plus loin vers le haut */
    transform-origin: center bottom;
  }
}

.a_propos {
  padding: 5rem;
}
.a_propos article {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  margin-bottom: 4rem;
}
.a_propos article p {
  margin: 3rem 0;
}
.a_propos article .apr img {
  order: 1;
}
.a_propos article .apr div {
  order: 2;
}

.menu h2 {
  text-align: center;
}
.menu div {
  width: 100%;
  max-width: 550px;
  margin: auto;
}

.listpizza {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 2rem;
  flex-direction: column;
}
.listpizza h2 {
  align-self: center;
  color: red;
}
.listpizza .pizzaitem {
  display: flex;
  justify-content: space-evenly;
  align-items: start;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 0 2rem;
}
.listpizza .pizzaitem article {
  display: flex;
  justify-content: start;
  align-items: start;
  gap: 2rem;
  flex-direction: column;
}
.listpizza .pizzaitem h3 {
  font-family: "Inknut Antiqua", serif;
  font-size: 2rem;
}
.listpizza .pizzaitem details {
  align-self: flex-start;
  cursor: pointer;
}
.listpizza .pizzaitem details summary {
  font-size: 2rem;
}
.listpizza .pizzaitem details ul {
  display: block;
}
.listpizza .pizzaitem details ul li {
  padding: 0.5rem;
}
.listpizza img {
  width: 100px;
  margin: auto;
}

.contact {
  margin: 3rem 0;
}
.contact form .rep {
  padding: 3rem;
  border: 2px solid red;
}
.contact form h2 {
  text-align: center;
  margin-bottom: 4rem;
}
.contact form div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  flex-direction: column;
  width: 100%;
  max-width: 600px;
  padding: 0 2rem;
  margin: auto;
}
.contact form div input, .contact form div textarea, .contact form div button {
  width: 100%;
  border: 2px solid red;
  border-radius: 0.5rem;
  background-color: transparent;
  color: white;
  padding: 0.5rem;
}
.contact form div textarea {
  resize: vertical;
  width: 100%;
  min-height: 4rem;
}
.contact form div button {
  position: relative;
  width: 20%;
  align-self: flex-end;
  cursor: pointer;
  font-size: clamp(1.2rem, 2vw, 1.6rem);
}
.contact form div button span {
  position: relative;
  z-index: 1;
}
.contact form div button::before {
  content: "";
  width: 0%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  z-index: 0;
  transition: width 0.25s ease;
}
.contact form div button:hover::before {
  width: 100%;
}

.coord {
  margin: 3rem 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.coord svg {
  width: 100px;
  height: 100px;
}
.coord p {
  color: black;
  padding-top: 1rem;
}
.coord div {
  width: 100%;
  max-width: 300px;
  padding: 2rem;
  background-color: #F0D6AA;
  border-radius: 0.5rem;
}
.coord .phone, .coord .itin, .coord .mail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0;
  flex-direction: column;
}
.coord a {
  text-decoration: none;
  color: white;
  background-color: #131417;
  border: 2px solid red;
  border-radius: 5rem;
  margin: 2rem 0;
  padding: 0.5rem 1.5rem;
  transition: transform 0.25s ease, color 0.25s ease;
}
.coord a:hover {
  transform: scale(1.2);
  color: red;
}

.horaire {
  margin: 5rem 0;
}
.horaire h2 {
  text-align: center;
}
.horaire dl {
  padding: 2rem;
  width: 100%;
  max-width: 600px;
  margin: auto;
}
.horaire dl .daycontain {
  display: flex;
  justify-content: start;
  align-items: none;
  gap: 1rem;
  padding: 1rem 0;
  border-top: 2px solid white;
}
.horaire dl .daycontain dt {
  width: 40%;
  text-align: left;
  color: #F0D6AA;
}
.horaire dl .daycontain dd {
  width: 30%;
  text-align: right;
  position: relative;
}
.horaire dl .daycontain dd:first-of-type:before {
  content: "|";
  color: red;
  position: absolute;
  top: 0;
  right: -38px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  border-top: 1px solid white;
  flex-direction: column;
}
footer img {
  width: 100%;
  max-width: 400px;
}
footer hr {
  width: 100%;
  max-width: 97%;
}

.navdown {
  margin-top: 3rem;
}
.navdown ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  font-size: clamp(1.8rem, 1vw, 4rem);
}
.navdown ul li {
  list-style: none;
}
.navdown ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  font-family: "Inknut Antiqua", serif;
  font-weight: 200;
  position: relative;
}
.navdown ul li a::before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.25s linear;
}
.navdown ul li a:hover::before {
  content: "";
  position: absolute;
  background-color: white;
  transform: scaleX(1);
}

.linkdown {
  width: calc(100% - 4rem);
  padding: 0 2rem;
  font-family: "Inknut Antiqua", serif;
  font-size: 1.5rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  line-height: 2.2rem;
}
.linkdown ul {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
.linkdown ul li {
  list-style: none;
}
.linkdown ul li a {
  text-decoration: none;
  color: white;
  position: relative;
}
.linkdown ul li a::before {
  content: "";
  position: absolute;
  bottom: 5px;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scaleX(0);
  transition: transform 0.25s linear;
}
.linkdown ul li a:hover::before {
  content: "";
  position: absolute;
  background-color: white;
  transform: scaleX(1);
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.container a {
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  border-radius: 10px;
  cursor: pointer;
}
.container img {
  width: 100%;
}

.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 23;
}
.modal.open {
  visibility: visible;
  opacity: 1;
  transition-delay: 0s;
}
.modal-bg {
  position: absolute;
  background: #131417;
  width: 100%;
  height: 100%;
}
.modal-container {
  width: 100%;
  max-width: 600px;
  border: 2px solid white;
  border-radius: 10px;
  background: transparent;
  position: relative;
  padding: 30px;
  max-height: 500px;
  overflow-y: scroll;
}
.modal-container .navmenu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid white;
}
.modal-container .navmenu li {
  list-style: none;
}
.modal-container .navmenu li a {
  display: block;
  text-decoration: none;
  color: white;
  transition: color 0.25s ease, transform 0.25s ease;
}
.modal-container .navmenu li a:hover {
  color: red;
  transform: scale(1.2);
}
.modal-close {
  position: absolute;
  right: 15px;
  top: 15px;
  outline: none;
  appearance: none;
  color: red;
  background: none;
  border: 0px;
  font-weight: bold;
  cursor: pointer;
}

@media screen and (max-width: 1108px) {
  .a_propos .apr {
    flex-direction: column;
  }
  .a_propos .apr img {
    width: 100%;
    order: 2;
  }
  .a_propos .savoir {
    flex-direction: column;
  }
  .a_propos .savoir img {
    width: 100%;
  }
}
@media screen and (max-width: 879px) {
  .coord {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 724px) {
  nav {
    background-color: rgba(0, 0, 0, 0.1);
  }
  nav ul {
    display: none;
  }
  nav .burger {
    display: block;
  }
  .linkdown {
    flex-direction: column;
  }
}
@media screen and (max-width: 500px) {
  .daycontain dd::before {
    display: none;
  }
}
@media screen and (max-width: 380px) {
  .navdown ul {
    flex-direction: column;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Itim", serif;
  font-size: 2rem;
  color: white;
  background-color: #131417;
}

h1, h2 {
  font-family: "Inknut Antiqua", serif;
}

/*# sourceMappingURL=style.css.map */
